STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
CONTRACT_PROPERTY_REGISTRY_ID=CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABSC4
DATABASE_URL=sqlite:///./silvercrest.db
DEBUG=True
